PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/maruf_portfolio
JWT_SECRET=change_this_to_a_long_random_secret
ADMIN_EMAIL=maruf333444@gmail.com
ADMIN_PASSWORD=maruf@1234
CLIENT_ORIGIN=http://localhost:5173
